.OverviewBG {
background-image: url(../img/Overview.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
height: 100vh;
}

.OutsideBG {
    background-image: url(../img/front.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    }

    .HallwayBG {
        background-image: url(../img/hallway.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
        }

.OverviewText {
    text-align: center;
    color: rgb(218, 29, 29);
}

.button {
right: 930px;
position: absolute;

--primary-color: #000000;
  --secondary-color: #fff;
  --hover-color: #ff0000;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;

}

.button .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }
  
  .button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  
  .button:hover {
    background-color: var(--hover-color);
  }
  
  .button:hover .arrow {
    background: var(--secondary-color);
  }
  
  .button:hover .arrow:before {
    right: 0;
  }

  .Player {
    right: 550px;
    top: 300px;
position: absolute;

  }

  .EasyGurad {
    right: 700px;
    top: 100px;
position: absolute;
  }


  .card {
    width: 190px;
    height: 254px;
    background-image: url(../img/Battle\ cards!.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    transition: .3s ease-in-out;
    cursor: pointer;
    box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.3);
    right: 1200px;
  }
  
  #c1 {
    background-image: url(../img/Battle\ cards!\ Paper.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  #c2 {
    background-image: url(../img/Battle\ cards!\ Scissor.png.);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  #c3 {
    background-image: url(../img/Battle\ cards!\ Rock.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  #c4 {
    background-image: url(../img/Battle\ cards!\.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .main:hover #c1 {
    transform: translateX(-100px) rotate(-40deg);
  }
  
  .main:hover #c2 {
    transform: translateX(-50px) rotate(-30deg);
  }
  
  .main:hover #c3 {
    transform: translateX(0) rotate(-20deg);
  }
  
  .main:hover #c4 {
    transform: translateX(50px) rotate(-10deg);
  }
  
  #c1:hover {
    transform: translateX(-150px) rotate(0deg) !important;
  }
  
  #c2:hover {
    transform: translateX(-100px) rotate(0deg) !important;
  }
  
  #c3:hover {
    transform: translateX(-50px) rotate(0deg) !important;
  }
  
  #c4:hover {
    transform: translateX(50px) rotate(0deg) !important;
  }
  
  .main {
    display: grid;
    height: 50vmax;
    place-items: center;
  }